.container {
  width: 400px;
  height: 200px;
  background-color: #ccc;
}

.thin {
  padding: 8px;
}

.auto {
  padding: 0 16px;
}

.item {
  padding: 5px 10px;
  background-color: rgba(0, 0, 255, 0.1);
  margin: 1px 0 1px;
}

.select {
  margin-bottom: 8px;
}
