.app {
  position: absolute;
  background-color: var(--background-tertiary);
  top: 22px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: stretch;
}

.select {
  margin-bottom: 8px;
  margin-right: 8px;
}

.guildList {
  padding: 0 8px 0;
  flex: 0 0 auto;
}

.memberList,
.channelList {
  flex: 0 0 auto;
  width: 240px;
  background-color: var(--background-secondary);
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.channelList {
  border-radius: 8px 0 0 0;
}

.messages {
  flex: 1 1 auto;
  background-color: var(--background-primary);
  padding: 12px;
}

.box {
  width: 48px;
  height: 48px;
  background-color: var(--background-secondary);
  border-radius: 12px;
  margin-bottom: 12px;
}

.rowItem {
  height: 40px;
  margin: 1px 0;
  flex: 0 0 auto;
  color: var(--interactive-normal);
  font-weight: 500;
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.rowItem:hover {
  background-color: var(--background-modifier-hover);
}

.rowItemBig {
  height: 150px;
  margin-bottom: 12px;
  box-shadow: inset 0 1px 0 var(--background-modifier-accent);
}

.floater {
  position: absolute;
  width: 400px;
  height: 250px;
  left: 240px;
  bottom: 140px;
  background-color: var(--background-floating);
  border-radius: 8px;
  box-shadow: var(--elevation-high);
  padding: 8px;
}

.floatingItem {
  height: 30px;
  margin: 1px 0;
  background-color: var(--background-modifier-accent);
}
