.nonee {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.nonee::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
  height: 0;
}

.thin,
.thin:hover {
  /* Firefox Styles */
  scrollbar-width: thin;
  scrollbar-color: var(--background-tertiary) transparent;

  /* Old Edge Styles */
  -ms-overflow-style: none;
}

/* Chrome Styles */
.thin::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

.thin::-webkit-scrollbar-corner {
  background-color: transparent;
}

.thin::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.thin::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

.thin::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: var(--background-tertiary);
}

.thin::-webkit-resizer {
  width: 0;
  height: 0;
  display: none;
}

.thic {
  /* Firefox Styles */
  scrollbar-width: auto;
  /* NOTE(amadeus): We will have to probably play around with various colors to
   * find something that looks right */
  /* NOTE(amadeus): This one looks best on windows firefox */
  scrollbar-color: var(--background-tertiary) var(--background-secondary);
  /* NOTE(amadeus): This style looks best on macOS firefox */
  /* scrollbar-color: var(--background-tertiary) transparent; */
}

/* Chrome Styles */
.thic::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
  height: 12px;
}

.thic::-webkit-scrollbar-corner {
  background-color: transparent;
}

.thic::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.thic::-webkit-scrollbar-track {
  display: block;
  background-color: var(--background-secondary);
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.thic::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
  background-color: var(--background-tertiary);
}

.thic::-webkit-resizer {
  width: 0;
  height: 0;
  display: none;
}
