.container {
  position: relative;
  /* NOTE(amadeus): This is required so that background color/images bleed
   * underneatch scrollbars on macOS */
  background-clip: border-box;
  box-sizing: border-box;
}

.orientationVertical {
  overflow-x: hidden;
  overflow-y: scroll;
}

.orientationHorizontal {
  overflow-x: scroll;
  overflow-y: hidden;
  /* NOTE(amadeus): This is a pretty damn cool feature - I wish Chrome and FF
   * supported it */
  -ms-scroll-translation: vertical-to-horizontal;
}

.scrollablePadding {
  pointer-events: none;
  width: 1px;
  height: 1px;
  flex: 0 0 auto;
}

.testStyles {
  position: absolute;
  top: -999px;
  left: -999px;
  width: 400px;
  height: 400px;
  overflow: scroll !important;
}

.fade::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.fade:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.fade:not(:hover) {
  scrollbar-color: transparent transparent !important;
}
