.container {
  overflow: auto;
  background-clip: padding-box;
}

.padding {
  width: 1px;
  position: absolute;
  pointer-events: none;
}

.testStyles {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 100px;
  height: 100px;
  overflow: scroll;
  background-color: red;
}

.testInnerStyles {
  width: 200px;
  height: 200px;
}
